.RightSide{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem 1rem 1rem 0rem;
}

.NavIcons{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.NavIcons > img{
    width: 1.5rem;
    height: 1.5rem;
}

.NavIcons > a > img{
    width: 1.5rem;
    height: 1.5rem;
}

.rs-button{
    height: 3rem;
    width: 80%;
    align-self: center;
}

@media (max-width:1200px){
    .RightSide{
        display: none;
    }
}