.Home{
    position: relative;
    display: grid;
    grid-template-columns: 18rem auto 20rem;
    gap: 1rem;
}

@media (max-width:1200px){
    .Home{
        grid-template-columns: auto;
    }
}

@media (min-height:225px){
    
}