.Home{
    position: relative;
    display: grid;
    grid-template-columns: 21rem auto;
    gap: 1rem;
    height: 100vh;
}

@media screen and (max-width:1600px){
    .Home{
        grid-template-columns: 16rem auto;
    }
}

@media screen and (max-width:1400px){
    .Home{
        grid-template-columns: 4.8rem auto;
    }
}

@media screen and (max-width:700px){
    .Home{
        grid-template-columns: auto;
    }
}