.Post{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: var(--cardColor);
    border-radius: 0.5rem;
    gap: 0.7rem;
    border: 1px solid var(--lineColor);
}

.Post > hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: rgb(218, 218, 218);
    margin: 0px;
}

.PostContent{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.PostContent > img{
    width: 100%;
    object-fit: cover;
    border-radius: 0.2rem;
}

.PostContent > video{
    width: 100%;
    object-fit: cover;
    border-radius: 0.2rem;
    /* aspect-ratio: 16/9; */
}

.videoPlay{
    position: absolute;
    font-size: 130px!important;
    color: black;
    color: rgb(221, 221, 221);
}

.muted{
    position: absolute;
    font-size: medium!important;
    color: white;
    padding: 5px;
    border-radius: 50%;
    background: rgb(65, 65, 65);
    right: 3%;
    bottom: 4%;
}

.PostReact{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.PostReact > div{
    display: flex;
    align-items: flex-start;
    gap: 0.6rem;
}

.PostDetails{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.PostUserName{
    display: flex;
    /* align-items: center; */
    gap: 0.7rem;
    font-size: 14px;
}

.PostUserName > span{
    margin-top: 6px;
}

.PostUserName > img{
    border: 1px solid var(--borderColor);
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
}

.Details{
    font-size: 14px;
}

.CommentSection{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.CommentPlusEmoji{
    display: flex;
    gap: 0.5rem;
}

.CommentInput{
    width:19vw;
    font-size: 15px;
    border: none;
    outline: none;
    background: transparent;
}

/* .CommentSendButton{
    border: none;
    background: transparent;
} */

@media (max-width: 420px){
    .Post{
        padding: 0.7rem; /*1rem*/
        gap: 0.5rem; /*0.7rem*/
        border-radius: 0.2rem;
    }

    .PostUserName{
        gap: 0.5rem; /*0.7rem*/
        font-size: 12px; /*14px*/
    }

    .PostUserName > span{
        margin-top: 5px; /*6px*/
    }
    
    .PostUserName > img{
        width: 1.7rem; /*2rem*/
        height: 1.7rem; /*2rem*/
    }

    .PostReact{
        padding-top: 5px;
    }

    .PostReact > div{
        margin-left: -3px; /*new*/
        gap: 0.1rem; /*0.6rem*/
    }

    .ReactLike{
        height: 21px; /*26px*/
    }

    .ReactComment{
        height: 28px; /*33px*/
        margin-bottom: -5px;
    }

    .ReactShare{
        height: 24px; /*29px*/
    }

    .ReactBookmark{
        height: 21px; /*26px*/
    }
    
    .Details{
        font-size: 12px; /*14px*/
    }

    .Post > span{
        margin-top: -3px;
    }

    .Post > span > b{
        font-size: 12px;
    }

    .Post > span > span{
        font-size: 12px;
    }

    .CommentPlusEmoji{
        gap: 0.3rem; /*0.5rem*/
    }

    .CommentEmojiIcon{
        height: 19px;
    }
    
    .CommentInput{
        width:66vw; /*19vw*/
        font-size: 11px; /*15px*/
    }

    .CommentSendButton{
        margin-top: -2px;
        margin-right: 5px;
    }

    .CommentSendButton > span{
        font-size: 12px;
    }
}

@media (max-width: 350px){
    .Post{
        padding: 0.5rem; /*1rem*/
        gap: 0.3rem; /*0.7rem*/
        border-radius: 0.2rem;
    }

    .PostUserName{
        gap: 0.4rem; /*0.7rem*/
        font-size: 10px; /*14px*/
    }

    .PostUserName > span{
        margin-top: 4px; /*6px*/
    }
    
    .PostUserName > img{
        width: 1.3rem; /*2rem*/
        height: 1.3rem; /*2rem*/
    }

    .PostReact{
        padding-top: 5px;
    }

    .PostReact > div{
        margin-left: -3px; /*new*/
        gap: 0.1rem; /*0.6rem*/
    }

    .ReactLike{
        height: 18px; /*26px*/
    }

    .ReactComment{
        height: 25px; /*33px*/
        margin-bottom: -5px;
    }

    .ReactShare{
        height: 21px; /*29px*/
    }

    .ReactBookmark{
        height: 18px; /*26px*/
    }
    
    .Details{
        font-size: 10px; /*14px*/
    }

    .Post > span{
        margin-top: -3px;
    }

    .Post > span > b{
        font-size: 10px;
    }

    .Post > span > span{
        font-size: 10px;
    }

    .CommentPlusEmoji{
        gap: 0.2rem; /*0.5rem*/
    }

    .CommentEmojiIcon{
        height: 15px;
    }
    
    .CommentInput{
        width:66vw; /*19vw*/
        font-size: 11px; /*15px*/
    }

    .CommentSendButton{
        margin-top: -2px;
        margin-right: 5px;
    }

    .CommentSendButton > span{
        font-size: 10px;
    }
}