.Post{
    display: flex;
    flex-direction: column;
    background-color: var(--cardColor);
    border-radius: 0.2rem;
    border: 1px solid var(--lineColor);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

.PostHeaderSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 14px;
}

.PostUserName{
    display: flex;
    align-items: center;
    gap: 0.7rem;
    font-size: 14px;
    font-weight: 600;
}

.PostUserName > span{
    margin-top: -3px;
    cursor: pointer;
}

.PostUserName > img{
    border: 1px solid var(--borderColor);
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

.PostHorizontalIcon{
    cursor: pointer;
    width: 23px;
}

.PostContent{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.PostContent > img{
    width: 100%;
    object-fit: cover;
}

.PostContent > video{
    width: 100%;
    object-fit: cover;
    /* aspect-ratio: 16/9; */
}

/* slider */
.slideshow-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    /* margin: auto; */
    /* -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory; */
}

.videoSection{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
}

.videoPlay{
    position: absolute;
    font-size: 130px!important;
    color: rgb(221, 221, 221);
    opacity: 1;
    border-radius: 50%;
    transition: opacity .2s ease-out!important;
    transition-delay: .1s!important;
}

.muted{
    position: absolute;
    cursor: pointer;
    font-size: medium!important;
    color: white;
    padding: 5px;
    border-radius: 50%;
    background: rgb(65, 65, 65);
    right: 3%;
    bottom: 4%;
    z-index: 100;
}

.PostDetailsSection{
    display: flex;
    flex-direction: column;
    padding: 12px 14px;
    gap: 6px;
}

.PostReact{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 26px;
    margin-bottom: 6px;
}

.PostReact > div{
    display: flex;
    align-items: flex-start;
    gap: 0.6rem;
}

.ReactLike{
    cursor: pointer;
    width: 26px;
}

.ReactComment{
    cursor: pointer;
    width: 33px;
    margin-top: -4px;
}

.ReactShare{
    cursor: pointer;
    width: 29px;
}

.ReactBookmark{
    cursor: pointer;
    width: 26px;
}

.LikeDetails{
    font-size: 14px;
    font-weight: 600;
}

.CommentsDetails{
    font-size: 14px;
    color: rgb(147, 147, 147);
    cursor: pointer;
}

.PostTimeDetails{
    font-size: 12px;
    color: rgb(147, 147, 147);
    cursor: pointer;
}

.Details{
    font-size: 14px;
}

.Details > span:nth-child(1){
    cursor: pointer;
    font-weight: 600;
}

.Post > hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: rgb(218, 218, 218);
    margin: 0px;
}

.CommentSection{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 10px 14px;
}

.CommentPlusEmoji{
    display: flex;
    gap: 0.5rem;
    flex-grow: 1;
}

.CommentEmojiIcon{
    cursor: pointer;
    width: 24px;
}

.CommentInput{
    flex-grow: 1;
    font-size: 14px;
    border: none;
    outline: none;
    background: transparent;
}

.CommentSendButton{
    font-size: 14px;
    font-weight: 600;
    color: rgb(176, 226, 243);
    cursor: pointer;
    height: 20px;
}

@media (max-width: 420px){
    .PostHeaderSection{
        padding: 8px 10px; 
    }

    .PostUserName{
        gap: 0.7rem;
        font-size: 13px;
        font-weight: 600;
    }
    
    .PostUserName > img{
        width: 2rem;
        height: 2rem;
    }

    .PostHorizontalIcon{
        height: 21px;
    }

    .PostDetailsSection{
        padding: 8px 10px;
        gap: 6px;
    }

    .PostReact{
        height: 24px;
        margin-bottom: 2px;
    }

    .PostReact > div{
        margin-left: -1px; /*new*/
        gap: 0.5rem; /*0.6rem*/
    }

    .ReactLike{
        height: 24px; /*26px*/
    }

    .ReactComment{
        height: 31px; /*33px*/
        margin-bottom: -5px;
    }

    .ReactShare{
        height: 27px; /*29px*/
    }

    .ReactBookmark{
        height: 24px; /*26px*/
    }

    .LikeDetails{
        font-size: 13px;
        font-weight: 600;
    }
    
    .CommentsDetails{
        font-size: 13px;
    }
    
    .PostTimeDetails{
        font-size: 12px;
    }
    
    .Details{
        font-size: 13px;
    }

    .CommentSection{
        padding: 10px 10px;
    }
    
    .CommentPlusEmoji{
        gap: 0.5rem;
    }
    
    .CommentEmojiIcon{
        width: 22px;
    }
    
    .CommentInput{
        font-size: 13px;
    }
    
    .CommentSendButton{
        font-size: 13px;
    }
}