.ProfileCard{
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-x: clip;
    background: var(--cardColor);
    margin-top: 0.5rem;
}

.ProfileImages{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.ProfileImages > img:nth-of-type(1){
    width: 100%;
}

.ProfileImages > img:nth-of-type(2){
    width: 6rem;
    border-radius: 50%;
    position: absolute;
    bottom: -3rem;
    box-shadow: var(--profileShadow);
}

.ProfileName{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem 0rem 1rem 0rem;
}

.ProfileName > span:nth-of-type(1){
    font-weight: bold;
}


/* tempstuff */
.tempStuff{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.tempStuff > div {
    cursor: pointer;
    font-weight: 600;
}

.logout-button{
    width: 7rem;
    height: 2rem;
}

/* Follow Status */
.FollowStatus{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.FollowStatus > hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: rgb(218, 218, 218);
    margin: 0px;
}

.FollowStatus > div{
    display: flex;
    gap: 1rem;
    width: 80%;
    justify-content: space-around;
    align-items: center;
}

.Follow{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    align-items: center;
    justify-content: center;
    margin: 1rem 0rem;
}

.Follow > span:nth-of-type(1){
    font-weight: bold;
}

.Follow > span:nth-of-type(2){
    color: var(--gray);
    font-size: 13px;
}

.vl{
    height: 100%;
    border-left: 1px solid rgb(218, 218, 218);
}

.ProfilePosts{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-top: 1px solid rgb(218, 218, 218);
}

.ProfilePostsButton{
    padding: 17px 0px;
    display: flex;
    margin: 0px 30px;
}

.ProfilePostsButton.active{
    border-top: 1px solid;
}

.ProfilePostsButton_Icon{
    height: 15px;
    width: 15px;
    margin-right: 5px;
}

.ProfilePostsButton_Title{
    font-size: 12px;
    font-weight: 600;
}

