.NavigationMain{
    display: flex;
    flex-direction: column;
    overflow: auto;
    background-color: white;
    border-right: 1px solid rgb(218, 218, 218);
    justify-content: space-between;
    height: 100dvh;
    width: 21rem;
    position: fixed;
    left: 0;
    z-index: 1;
}

/* .NavigationMain.active{
    display: none;
} */

.logoAndStuff{
    display: flex;
    flex-direction: column;
}

.logoTitle{
    display: flex;
    margin: 40px 0px 40px 25px;
}

.logo_icon{
    height: 25px;
    width: 25px;
    margin-right: 15px;
    display: none;
}

.mini_logo_icon{
    display: flex;
}

.logo_Title{
    font-size: 21px;
    font-weight: 700;
}

.navigationItems{
    display: flex;
    flex-direction: column;

    margin: 0px 0px 0px 25px;
    gap: 2rem;
}

.navigation_row{
    display: flex;
    align-items: center;
}

.mininavigation_row{
    display: flex;
    align-items: center;
}

.navigation_icon{
    height: 25px;
    width: 25px;
    pointer-events: none;
}

.navigation_title{
    margin-left: 15px;
    font-size: 15px;
    pointer-events: none;
}

.navigation_profileIcon{
    height: 25px;
    width: 25px;
    pointer-events: none;
    border-radius: 50%;
    border: 1px solid var(--borderColor);
}

.navigation_profileIcon.active{
    height: 23px;
    width: 23px;
    border: 2px solid black;
}

.navigation_profileTitle.active{
    margin-top: -1px;
    pointer-events: none;
}

.moreItems{
    display: flex;
    align-items: center;
    margin: 40px 0px 40px 25px;
    cursor: pointer;
    /* position: relative; */
}

.MiniNavigation{
    display: none;
    flex-direction: row;
    position: fixed;
    left: 0;
    height: 100dvh;
    /* overflow: auto; */
    background-color: white;
    /* justify-content: space-between; */
    width: 4.8rem;
    z-index: 1;
    transition: 0.5s ease;
}

.MiniNavigation.active{
    display: flex;
}

.MiniNavigationLeft{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 10px;
    border-right: 1px solid rgb(218, 218, 218);
}

.MiniNavigationRight{
    z-index: 1;
    width: 24.5rem;
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 0px 15px 15px 0px;
    border-right: 1px solid rgb(218, 218, 218);
    box-shadow: 17px 4px 17px 2px rgba(0, 0, 0, 0.25);
}

.MiniNavigationRight > h2 {
    margin-left: 1.5rem;
}

.MiniNavigationRightStuff{
    display: flex;
    width: 23.5rem;
    flex-direction: column;
    padding :0rem 0.5rem 0rem 0.5rem;
}

@media screen and (max-width:1600px){
    .NavigationMain{
        width: 16rem;
    }
}


@media screen and (max-width:1400px){
    .NavigationMain{
        width: 4.8rem;
    }
    .navigation_title{
        display: none;
    }
    .logo_Title{
        display: none;
    }
    .logo_icon{
        display: flex;
    }
}

@media screen and (max-width:700px){
    .NavigationMain{
        display: none;
    }
}