.StoryScroller{
    display: flex;
    flex-direction: row;
    padding: 4px;
    overflow-x: scroll;
    overflow-y: hidden;
    background-color: var(--cardColor);
    border-radius: 0.5rem;
    border: 1px solid var(--lineColor);
    /* height: 113px; */
}

.StoryContainer{
    margin: 4px 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.StoryProfile{
    width: 90px;
    height: 90px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.StoryUserIcon{
    position: absolute;
    border-radius: 50%;
    width: 70%;
    height: 70%;
}

.StoryBorder{
    width: 100%;
    height: 100%;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    transform: rotate(180deg);
}

.ActiveStory{
    stroke-dasharray: 1;
    animation: loading 1500ms ease-in-out infinite alternate;
}

.StoryUserName{
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width:80px;
    text-align: center;
    color: black;
}

@keyframes loading{
    0%{
        stroke-dasharray: 1;
        transform: rotate(180deg);
    }
    100% {
        stroke-dasharray: 10;
        transform: rotate(0deg);
    }
}