.Profile{
    position: relative;
    display: grid;
    grid-template-columns: 21rem auto;
    grid-template-rows: 100%;
    gap: 1rem;
    height: 100vh;
}

.ProfileCenter{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 30rem;
    margin: 0rem auto 0rem auto;
    overflow: auto;
}

@media screen and (max-width:1600px){
    .Profile{
        grid-template-columns: 16rem auto;
    }
}

@media screen and (max-width:1400px){
    .Profile{
        grid-template-columns: 4.8rem auto;
    }
}

@media screen and (max-width:700px){
    .Profile{
        grid-template-columns: auto;
    }
    .ProfileCenter{
        margin: 3rem auto 0rem auto;
    }
}

@media screen and (max-width:530px){
    .NavigationBar{
        width: 30rem;
    }
    .HeaderBar{
        width: 30rem;
    }
    .ProfileCenter{
        width: 30rem;
    }
    .ProfileCard{
        width: 30rem;
    }
}

@media screen and (max-width:520px){
    .NavigationBar{
        width: 29.5rem;
    }
    .HeaderBar{
        width: 29.5rem;
    }
    .ProfileCenter{
        width: 29.5rem;
    }
    .ProfileCard{
        width: 29.5rem;
    }
}

@media screen and (max-width:510px){
    .NavigationBar{
        width: 29rem;
    }
    .HeaderBar{
        width: 29rem;
    }
    .ProfileCenter{
        width: 29rem;
    }
    .ProfileCard{
        width: 29rem;
    }
}

@media screen and (max-width:500px){
    .NavigationBar{
        width: 28.5rem;
    }
    .HeaderBar{
        width: 28.5rem;
    }
    .ProfileCenter{
        width: 28.5rem;
    }
    .ProfileCard{
        width: 28.5rem;
    }
}

@media screen and (max-width:490px){
    .NavigationBar{
        width: 28rem;
    }
    .HeaderBar{
        width: 28rem;
    }
    .ProfileCenter{
        width: 28rem;
    }
    .ProfileCard{
        width: 28rem;
    }
}

@media screen and (max-width:480px){
    .NavigationBar{
        width: 27.5rem;
    }
    .HeaderBar{
        width: 27.5rem;
    }
    .ProfileCenter{
        width: 27.5rem;
    }
    .ProfileCard{
        width: 27.5rem;
    }
}

@media screen and (max-width:470px){
    .NavigationBar{
        width: 27rem;
    }
    .HeaderBar{
        width: 27rem;
    }
    .ProfileCenter{
        width: 27rem;
    }
    .ProfileCard{
        width: 27rem;
    }
}

@media screen and (max-width:460px){
    .NavigationBar{
        width: 26.5rem;
    }
    .HeaderBar{
        width: 26.5rem;
    }
    .ProfileCenter{
        width: 26.5rem;
    }
    .ProfileCard{
        width: 26.5rem;
    }
}

@media screen and (max-width:450px){
    .NavigationBar{
        width: 26rem;
    }
    .HeaderBar{
        width: 26rem;
    }
    .ProfileCenter{
        width: 26rem;
    }
    .ProfileCard{
        width: 26rem;
    }
}

@media screen and (max-width:440px){
    .NavigationBar{
        width: 25.5rem;
    }
    .HeaderBar{
        width: 25.5rem;
    }
    .ProfileCenter{
        width: 25.5rem;
    }
    .ProfileCard{
        width: 25.5rem;
    }
}

@media screen and (max-width:430px){
    .NavigationBar{
        width: 25rem;
    }
    .HeaderBar{
        width: 25rem;
    }
    .ProfileCenter{
        width: 25rem;
    }
    .ProfileCard{
        width: 25rem;
    }
}

@media screen and (max-width:420px){
    .NavigationBar{
        width: 24.5rem;
    }
    .HeaderBar{
        width: 24.5rem;
    }
    .ProfileCenter{
        width: 24.5rem;
    }
    .ProfileCard{
        width: 24.5rem;
    }
}

@media screen and (max-width:410px){
    .NavigationBar{
        width: 24rem;
    }
    .HeaderBar{
        width: 24rem;
    }
    .ProfileCenter{
        width: 24rem;
    }
    .ProfileCard{
        width: 24rem;
    }
}

@media screen and (max-width:400px){
    .NavigationBar{
        width: 23.5rem;
    }
    .HeaderBar{
        width: 23.5rem;
    }
    .ProfileCenter{
        width: 23.5rem;
    }
    .ProfileCard{
        width: 23.5rem;
    }
}

@media screen and (max-width:390px){
    .NavigationBar{
        width: 23rem;
    }
    .HeaderBar{
        width: 23rem;
    }
    .ProfileCenter{
        width: 23rem;
    }
    .ProfileCard{
        width: 23rem;
    }
}

@media screen and (max-width:380px){
    .NavigationBar{
        width: 22.5rem;
    }
    .HeaderBar{
        width: 22.5rem;
    }
    .ProfileCenter{
        width: 22.5rem;
    }
    .ProfileCard{
        width: 22.5rem;
    }
}

@media screen and (max-width:370px){
    .NavigationBar{
        width: 22rem;
    }
    .HeaderBar{
        width: 22rem;
    }
    .ProfileCenter{
        width: 22rem;
    }
    .ProfileCard{
        width: 22rem;
    }
}

@media screen and (max-width:360px){
    .NavigationBar{
        width: 21.5rem;
    }
    .HeaderBar{
        width: 21.5rem;
    }
    .ProfileCenter{
        width: 21.5rem;
    }
    .ProfileCard{
        width: 21.5rem;
    }
}

@media screen and (max-width:350px){
    .NavigationBar{
        width: 21rem;
    }
    .HeaderBar{
        width: 21rem;
    }
    .ProfileCenter{
        width: 21rem;
    }
    .ProfileCard{
        width: 21rem;
    }
}

@media screen and (max-width:340px){
    .NavigationBar{
        width: 20.5rem;
    }
    .HeaderBar{
        width: 20.5rem;
    }
    .ProfileCenter{
        width: 20.5rem;
    }
    .ProfileCard{
        width: 20.5rem;
    }
}

@media screen and (max-width:330px){
    .NavigationBar{
        width: 20rem;
    }
    .HeaderBar{
        width: 20rem;
    }
    .ProfileCenter{
        width: 20rem;
    }
    .ProfileCard{
        width: 20rem;
    }
}

@media screen and (max-width:320px){
    .NavigationBar{
        width: 19.5rem;
    }
    .HeaderBar{
        width: 19.5rem;
    }
    .ProfileCenter{
        width: 19.5rem;
    }
    .ProfileCard{
        width: 19.5rem;
    }
}

@media screen and (max-width:310px){
    .NavigationBar{
        width: 19rem;
    }
    .HeaderBar{
        width: 19rem;
    }
    .ProfileCenter{
        width: 19rem;
    }
    .ProfileCard{
        width: 19rem;
    }
}

@media screen and (max-width:300px){
    .NavigationBar{
        width: 18rem;
    }
    .HeaderBar{
        width: 18rem;
    }
    .ProfileCenter{
        width: 18rem;
    }
    .ProfileCard{
        width: 18rem;
    }
}