.CommentBox{
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 35rem;
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

.PostMoreIcon{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.MainComment {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
    text-align:justify;
    padding: 12px 14px;
    gap: 20px;
    margin-bottom: 145px;
}

.CommentWindow{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.CommentLeft{
    display: flex;
    gap: 0.7rem;
}

.CommentLeft > img{
    border: 1px solid rgb(218, 218, 218);
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
}

.CommentRight > img{
    width: 15px;
}

.CommentInfo{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.CommentUserInfo{
    font-size: 14px;
}

.CommentUserInfo > span:nth-child(1){
    font-weight: 600;
}

.CommentBox > hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: rgb(218, 218, 218);
    margin: 0px;
}

.CommentAction{
    display: flex;
    gap: 0.5rem;
    font-size: 13px;
    color: rgb(158, 158, 158);
    font-weight: 600;
}

.CommentAction > span:nth-child(1){
    font-weight: 400;
}

.bottomcomment{
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    z-index: 1;
    background-color: white;
}

.bottomcomment > hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: rgb(218, 218, 218);
    margin: 0px;
}

@media (max-width: 899px) {
    .CommentBox{
        width:auto;
        height: 100dvh;
    }
}

@media (max-width: 420px) {
    .MainComment {
        padding: 10px 10px;
        gap: 20px;
        margin-bottom: 130px;
    }
}