/* css for navigation*/
.NavigationBar{
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: var(--cardColor);
    width: 100%;
    position:fixed;
    bottom: 0;
    padding: 0.5rem 0rem;
    border-top: 1px solid rgb(183, 183, 183);
    display: none;
    height: 2rem;
    z-index: 1;
}

.homeNavigation{
    width: 28px;
}

.searchNavigation{
    width: 29px;
}

.addPostNavigation{
    width: 28px;
}

.likeNavigation{
    width: 25px;
    position: relative;
}

.profileNavigation{
    border-radius: 50%;
    height: 28px;
    width: 28px;
    border: 1px solid var(--borderColor);
}

.profileNavigation.active{
    border: 2px solid black;
    height: 26px;
    width: 26px;
}

.NotificationAnimation{
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    left: 70%;
    right: 30%;
    bottom: 3rem;
    animation: fadeInAnimation ease 400ms;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.NotificationTop{
    display: flex;
    width: fit-content;
    border-radius: 0.3rem;
    padding: 0.5rem;
    height: 25px;
    gap: 1rem;
    background: rgba(235,71,85,255);
    align-items: center;
    justify-content: center;
}

.NotificationTop > div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.AnimationIcon{
    width: 22px;
}

.AnimationCount{
    color: white;
    font-size: 13px;
    font-weight: 600;
}

.NotificationBottom{
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    
    border-top: 20px solid rgba(235,71,85,255);
    margin-top: -12px;
}

@media screen and (max-width:700px){
    .NavigationBar{
        display:flex;
    }
}

@media screen and (max-width: 420px){
    .homeNavigation{
        width: 28px;
    }
    
    .searchNavigation{
        width: 29px;
    }
    
    .addPostNavigation{
        width: 28px;
    }
    
    .likeNavigation{
        width: 25px;
    }
    
    .profileNavigation{
        height: 28px;
        width: 28px;
    }

    .profileNavigation.active{
        height: 26px;
        width: 26px;
    }
}

@media screen and (max-width: 350px){
    .homeNavigation{
        width: 26px;
    }

    .searchNavigation{
        width: 27px;
    }
    
    .addPostNavigation{
        width: 26px;
    }

    .likeNavigation{
        width: 23px;
    }
    
    .profileNavigation{
        height: 26px;
        width: 26px;
    }

    .profileNavigation.active{
        height: 24px;
        width: 24px;
    }
}